/*font global*/
body {
  font-family: "Inter", sans-serif;
}

/* global styles*/
.btn-primary {
  text-decoration: none;
  background-color: var(--chart-1);
  color: var(--foreground);
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  transition: background 0.2s ease;
  font-size: 16px;
  cursor: pointer;
}
